<h1>Listing editoras</h1>

<table>
  <tr>
    <th>Razao social</th>
    <th>Cnpj</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @editoras.each do |editora| %>
  <tr>
    <td><%= editora.razao_social %></td>
    <td><%= editora.cnpj %></td>
    <td><%= link_to 'Show', editora %></td>
    <td><%= link_to 'Edit', edit_editora_path(editora) %></td>
    <td><%= link_to 'Destroy', editora, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Editora', new_editora_path %>
