<h1>Lista de Editoras
<%= link_to 'Nova editora', new_editora_path %></h1>

<table>
  <tr>
    <th>Razão social</th>
    <th>CNPJ</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @editoras.each do |editora| %>
  <tr>
    <td><%= editora.razao_social %></td>
    <td><%= editora.cnpj %></td>
    <td class="botoes"><%= link_to image_tag("show.png"), editora %></td>
    <td class="botoes"><%= link_to image_tag("edit.png"), edit_editora_path(editora) %></td>
    <td class="botoes"><%= link_to image_tag("delete.png"), editora, :confirm => 'Are you sure?', :method => :delete %></td>  </tr>
<% end %>
</table>
