<h1>Detalhes da Editora
<%= link_to 'Editar', edit_editora_path(@editora) %>
<%= link_to 'Voltar', editoras_path %>
</h1>
<p id="notice"><%= notice %></p>

<div class="field">
	<label for="descricao">Razão Social</label>
	<div class="detail"><%= @editora.razao_social %></div>
</div>

<div class="field">
	<label for="descricao">CNPJ</label>
	<div class="detail"><%= @editora.cnpj %></div>
</div>

