<html>
<head>
  <title>Biblioteca Virtual - Login</title>
  <%= stylesheet_link_tag "login", :media => "all" %>
</head>
<body>
  <%= form_tag sessions_path do %>  
  <div class="login-box">
  <h2>Biblioteca Virtual</h2>  
    <div class="login-box-fields">
      <div class="login-box-name">
        <%= label_tag :matricula %>
      </div>
      <div class="login-box-field">
        <%= text_field_tag :matricula, params[:matricula], :class => "form-login" %>
      </div>
      <div class="login-box-name">
        <%= label_tag :senha %>
      </div>
      <div class="login-box-field">
        <%= password_field_tag :senha, nil, :class => "form-login" %>
      </div>
    </div>
    <div class="login-button">
      <%= image_submit_tag("login-btn.png") %>
    </div>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :class => 'mensagem', :id => "flash#{name}" %>
    <% end %>

  </div>
  <% end %>
</body>
</html>
