<h1>Lista de Locações
<%= link_to 'Nova Locacao', new_locacao_path %></h1>

<table>
  <tr>
    <th>Livro</th>
    <th>Usuário</th>
    <th>Data locação</th>
    <th>Data devolução</th>
    <th>Data prevista</th>
    <th>Multa</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locacaos.each do |locacao| %>
  <tr>
    <td><%= locacao.livro.titulo %></td>    
    <td><%= locacao.usuario.nome %></td>
    <td><%= locacao.data_locacao %></td>
    <td><%= locacao.data_devolucao %></td>
    <td><%= locacao.data_prevista_dev %></td>
    <td><%= locacao.multa %></td>    
    <td class="botoes"><%= link_to image_tag("show.png", :alt=>"Exibir", :title=>"Exibir"), locacao %></td>
    <td class="botoes"><%= link_to image_tag("edit.png", :alt=>"Editar",:title=>"Editar"), edit_locacao_path(locacao) %></td>
    <td class="botoes"><%= link_to image_tag("delete.png",:alt=>"Excluir",:title=>"Excluir"), locacao, :confirm => 'Tem certeza que deseja excluir?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


