<h1>Lista de Locações
<%= link_to 'Nova Locacao', new_locacao_path %></h1>

<table>
  <tr>
    <th>Livro</th>
    <th>Usuário</th>
    <th>Data locação</th>
    <th>Data devolução</th>
    <th>Data prevista</th>
    <th>Multa</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locacaos.each do |locacao| %>
  <tr>
    <td><%= locacao.livro %></td>    
    <td><%= locacao.usuario %></td>
    <td><%= locacao.data_locacao %></td>
    <td><%= locacao.data_devolucao %></td>
    <td><%= locacao.data_prevista_dev %></td>
    <td><%= locacao.multa %></td>    
    <td class="botoes"><%= link_to image_tag("show.png"), locacao %></td>
    <td class="botoes"><%= link_to image_tag("edit.png"), edit_locacao_path(locacao) %></td>
    <td class="botoes"><%= link_to image_tag("delete.png"), locacao, :confirm => 'Tem certeza que deseja excluir?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


