<h1>Detalhes da Locação
<%= link_to 'Editar', edit_locacao_path(@locacao) %>
<%= link_to 'Voltar', locacaos_path %>
</h1>

<p id="notice"><%= notice %></p>

<div class="field">
  <label for="livro">Livro</label>
  <div class="detail"><%= @locacao.livro.titulo %></div>
</div>

<div class="field">
  <label for="livro">Usuário</label>
  <div class="detail"><%= @locacao.usuario.nome %></div>
</div>

<div class="field">
  <label for="livro">Locação</label>
  <div class="detail"><%= @locacao.data_locacao.strftime("%d-%m-%Y") %></div>
</div>


<div class="field">
  <label for="livro">Previsão</label>
  <div class="detail"><%= @locacao.data_prevista_dev.strftime("%d-%m-%Y") %></div>
</div>


<div class="field">
  <label for="livro">Devolução</label>
  <div class="detail">
    <%= @locacao.data_devolucao.strftime("%d-%m-%Y") if @locacao.data_devolucao %>
  </div>
</div>


<div class="field">
  <label for="livro">Multa</label>
  <div class="detail"><%= @locacao.multa %></div>
</div>

