<h1>Lista de Categoria de Livros
<%= link_to 'Nova categoria', new_categorialivro_path %></h1>

<table>
  <tr>
    <th>Descrição</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categorialivros.each do |categorialivro| %>
  <tr>
    <td><%= categorialivro.descricao %></td>
    <td class="botoes"><%= link_to image_tag("show.png"), categorialivro %></td>
    <td class="botoes"><%= link_to image_tag("edit.png"), edit_categorialivro_path(categorialivro) %></td>
    <td class="botoes"><%= link_to image_tag("delete.png"), categorialivro, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
