<%= form_for(@grupo) do |f| %>
  <% if @grupo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grupo.errors.count, "error") %> prohibited this grupo from being saved:</h2>

      <ul>
      <% @grupo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div class="form">
		<div class="field">
      
		  <%= f.label(:descricao, 'Descrição') %>
		  <%= f.text_field :descricao %>
		</div>
		<div class="field">
		  <%= f.label :multa %>
		  <%= f.text_field :multa, :placeholder =>  '00.00' %>
		</div>
	</div>
  <div class="actions">
    <%= f.submit 'Salvar' %>
  </div>
<% end %>
