<h1>Lista de Grupos
<%= link_to 'Novo grupo', new_grupo_path %>
</h1>

<table>
  <tr>
    <th>Descrição</th>
    <th>Multa</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @grupos.each do |grupo| %>
  <tr>
    <td><%= grupo.descricao %></td>
    <td><%= grupo.multa %></td>
    <td class="botoes"><%= link_to image_tag("show.png"), grupo %></td>
    <td class="botoes"><%= link_to image_tag("edit.png"), edit_grupo_path(grupo) %></td>
    <td class="botoes"><%= link_to image_tag("delete.png"), grupo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

