<p id="notice"><%= notice %></p>

<p>
  <b>Descricao:</b>
  <%= @grupo.descricao %>
</p>

<p>
  <b>Multa:</b>
  <%= @grupo.multa %>
</p>


<%= link_to 'Edit', edit_grupo_path(@grupo) %> |
<%= link_to 'Back', grupos_path %>
