<div class="icones">
  <%= link_to image_tag("grupo.png", :border => 0, :title => 'Grupos', :alt => 'Grupos'), grupos_path %>
  <%= link_to image_tag("usuario.png", :border => 0, :title => 'Usuários', :alt => 'Usuários'), usuarios_path %>
  <%= link_to image_tag("editora.png", :border => 0, :title => 'Editoras', :alt => 'Editoras'), editoras_path %>
  <%= link_to image_tag("categoria.png", :border => 0, :title => 'Categorias', :alt => 'Categorias'), categorialivros_path %>
  <%= link_to image_tag("livro.png", :border => 0, :title => 'Livros', :alt => 'Livros'), livros_path %>
</div>
