Pesquisado por: <%= params[:pesquisa] %>

<% if @livros.any? %>
    <% @livros.each do |livro| %>

    <div class="livro">
      <div class="titulo"><%= livro.titulo %></div>
      <div class="editora"><%= livro.editora.razao_social %></div>
      <div class="autor"><%= livro.autor %></div>
      <div class="botao">
	    <%= link_to "+ Detalhes", detalhesLivro_path(livro.id) %>
      </div>
    </div>

    <% end %>
<% else %>
  <p>Nenhum registro encontrado</p>
<% end %>
