<%= form_for(@usuario) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form">
    <div class="field">
      <%= f.label :nome %>
      <%= f.text_field :nome %>
    </div>
    <div class="field">
      <%= f.label(:endereco, 'Endereço') %>
      <%= f.text_field :endereco %>
    </div>
    <div class="field">
      <%= f.label :telefone %>
      <%= f.text_field :telefone %>
    </div>
    <div class="field">
      <%= f.label(:matricula, 'Matrícula') %>
      <%= f.number_field :matricula %>
    </div>
    <div class="field">
      <%= f.label :senha %>
      <%= f.password_field :senha %>
    </div>
    <div class="field">
      <%= f.label :grupo %>
      <%= f.collection_select(:grupo_id, Grupo.all, :id, :descricao, :prompt => true)  %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit 'Salvar' %>
  </div>
<% end %>
