<h1>Lista de Usuários

<%= link_to 'Novo Usuário', new_usuario_path %></h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Endereço</th>
    <th>Telefone</th>
    <th>Matrícula</th>
    <th>Grupo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @usuarios.each do |usuario| %>
  <tr>
    <td><%= usuario.nome %></td>
    <td><%= usuario.endereco %></td>
    <td><%= usuario.telefone %></td>
    <td><%= usuario.matricula %></td>
    <td><%= usuario.grupo.descricao %></td>
    <td class="botoes"><%= link_to image_tag("show.png"), usuario %></td>
    <td class="botoes"><%= link_to image_tag("edit.png"), edit_usuario_path(usuario) %></td>
    <td class="botoes"><%= link_to image_tag("delete.png"), usuario, :confirm => 'Are you sure?', :method => :delete %></td>  </tr>
<% end %>
</table>
