<h1>Detalhes do Usuário
<%= link_to 'Editar', edit_usuario_path(@usuario) %>
<%= link_to 'Voltar', usuarios_path %>
</h1>

<p id="notice"><%= notice %></p>

<div class="field">
	<label for="descricao">Nome</label>
	<div class="detail"><%= @usuario.nome %></div>
</div>

<div class="field">
	<label for="descricao">Endereço</label>
	<div class="detail"><%= @usuario.endereco %></div>
</div>

<div class="field">
	<label for="descricao">Telefone</label>
	<div class="detail"><%= @usuario.telefone %></div>
</div>

<div class="field">
	<label for="descricao">Matrícula</label>
	<div class="detail"><%= @usuario.matricula %></div>
</div>

<div class="field">
	<label for="descricao">Grupo</label>
	<div class="detail"><%= @usuario.grupo.descricao %></div>
</div>
