<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @usuario.nome %>
</p>

<p>
  <b>Endereco:</b>
  <%= @usuario.endereco %>
</p>

<p>
  <b>Telefone:</b>
  <%= @usuario.telefone %>
</p>

<p>
  <b>Matricula:</b>
  <%= @usuario.matricula %>
</p>

<p>
  <b>Grupo:</b>
  <%= @usuario.grupo.descricao %>
</p>


<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
