<h1>Detalhes do Livro
<%= link_to 'Voltar', livros_path %>
<%= link_to 'Editar', edit_livro_path(@livro) %></h1>

<p id="notice"><%= notice %></p>
<div class="form livro">
  <div class="field">
	  <label for="titulo">Título</label>
    <div class="detail"><%= @livro.titulo %></div>
  </div>

  <div class="field">
	  <label for="subtitulo">Subtítulo</label>
	  <div class="detail"><%= @livro.subtitulo %></div>
  </div>

  <div class="field">
	  <label for="autor">Autor</label>
	  <div class="detail"><%= @livro.autor %></div>
  </div>

  <div class="field">
	  <label for="quantidade">Quantidade</label>
	  <div class="detail"><%= @livro.quantidade %></div>
  </div>

  <div class="field">
	  <label for="prazo_entrega">Prazo Entrega</label>
	  <div class="detail"><%= @livro.prazo_entrega %></div>
  </div>

  <div class="field">
	  <label for="isbn">ISBN</label>
	  <div class="detail"><%= @livro.isbn %></div>
  </div>

  <div class="field">
	  <label for="data_lancamento">Data Lançamento</label>
	  <div class="detail"><%= @livro.data_lancamento.strftime("%d/%m/%Y") %></div>
  </div>

  <div class="field">
	  <label for="edicao">Edição</label>
	  <div class="detail"><%= @livro.edicao %></div>
  </div>

  <div class="field">
	  <label for="editora">Editora</label>
	  <div class="detail"><%= @livro.editora.razao_social %></div>
  </div>

  <div class="field">
	  <label for="categoria">Categoria</label>
	  <div class="detail"><%= @livro.categorialivro.descricao %></div>
  </div>
</div>
