<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "estrutura", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  </head>
<body>

  <div class="cabecalho">
    <div class="centro">
      <div class="logout">
		<%= link_to "Sair", logout_path %>
      </div>
      <div class="logo">
		<%= image_tag "logo.png" %>
      </div>
      <div class="dados">
        <div class="nome">
		  <%= link_to "Biblioteca Virtual", :action=>"index" %>
        </div>
        <div class="usuario">
          Seja bem-vindo <%= @current_user.nome %><br />
        </div>
      </div>
    </div>
  </div>

  <div class="barraPesquisa">
    <div class="centro">
	<%= form_tag pesquisa_path, :method => 'get' do %>
	  <%= label_tag :pesquisa, 'Pesquise por Título:', :class => 'pesquisa' %>
	  <%= text_field_tag :pesquisa, params[:pesquisa], :placeholder => 'Nome do Livro' %>
	  <%= submit_tag 'Efetuar pesquisa', :name => nil, :class => 'button' %>
	<% end %>
    </div>
  </div>

  <div class="conteudo">
    <div class="centro">

      <div class="esquerdo">
        <div class="informa">
          Pesquisa por categoria:
        </div>

        <div class="menu">
		  <% @categorialivros.each do |categorialivro| %>
			<%= link_to categorialivro.descricao, pesquisaCategoria_path(categorialivro.id) %>
		  <% end%>
        </div>
	  </div>
      <div class="direito">
		<%= yield %>
      </div>
    </div>
  </div>

  <div class="clear" />

  <div class="rodape">
    <div class="centro">
      Copyright 2012<br />
      Todos os direitos reservados.
    </div>
  </div>
</body>
</html>
