<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "estrutura", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  </head>
<body>

  <div class="cabecalho">
    <div class="centro">
      <div class="logout">
		<%= link_to "Sair", logout_path %>
      </div>
      <div class="logo">
		<%= image_tag "logo.png" %>
      </div>
      <div class="dados">
        <div class="nome">
		  <%= link_to "Biblioteca Virtual", :action=>"index" %>
        </div>
        <div class="usuario">
          Seja bem-vindo <%= @current_user.nome %><br />
		  <%= link_to 'Histórico', historico_path %>
        </div>
      </div>
    </div>
  </div>

  <div class="barraPesquisa">
    <div class="centro">
      <label for="pesquisa">Pesquise pelo Título:</label>
		<%= link_to 'Exemplo Pesquisa', pesquisa_path(1) %>
		<%= form_tag('/site/pesquisa/1/livro') do %>
			<%= text_field_tag :pesquisa, params[:pesquisa] %>
			<%= submit_tag 'Efetuar pesquisa' %>
		<% end %>
    </div>
  </div>

  <div class="conteudo">
    <div class="centro">

      <div class="esquerdo">
        <div class="informa">
          Pesquisa por categoria:
        </div>

        <div class="menu">
		  <% @categorialivros.each do |categorialivro| %>
			<%= link_to categorialivro.descricao, pesquisaCategoria_path(categorialivro.id) %>
		  <% end%>
        </div>
	  </div>
      <div class="direito">
		<%= yield %>
      </div>
    </div>
  </div>

  <div class="clear" />

  <div class="rodape">
    <div class="centro">
      Copyright 2012<br />
      Todos os direitos reservados.
    </div>
  </div>
</body>
</html>
